<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interviewer Diary</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="/static/interview.ico">
</head>

<body>
    <h1><a href="/">Interviewer Diary</a></h1>
    <div class="menu">
        <a href="/view">View Candidates</a>
        <a href="/add">Add Candidate</a>
        <a href="/search">Search Candidate</a>
        <a href="/update">Update Candidate</a>
        <a href="/removesearch">Remove Candidate</a>
    </div>
    <div id="homepageContent">
        <div id="homepageBrief">
            <p><text>Interviewer Diary</text> is the application for Interviewers to
                maintain
                data of appearing candidates.</p>
        </div>

        <div id="homepageUl">
            <text>Check out all functions from navigation bar -</text>
            <ul>
                <li>View Candidates - View data of all candidates</li>
                <li>Add Candidate - New candidate registration</li>
                <li>Search Candidate - Search for specific candidate by name or phone number</li>
                <li>Update Candidate - Update details of any candidate</li>
                <li>Remove Candidate - Remove data of a candidate</li>
            </ul>
        </div>

    </div>

</body>

</html>