<ul class="nobull">
    <li><input class="inp-radio" type="radio" name="rating" value=5><b>5 -
            Outstanding</b></input><span class="checkmark"></span></li>
    <li><input class="inp-radio" type="radio" name="rating" value=4><b>4 - Very
            Good</b></input><span class="checkmark"></span></li>
    <li><input class="inp-radio" type="radio" name="rating" value=3><b>3 - Good</b></input><span
            class="checkmark"></span></li>
    <li><input class="inp-radio" type="radio" name="rating" value=2><b>2 - Improvement
            Needed</b></input><span class="checkmark"></span></li>
    <li><input class="inp-radio" type="radio" name="rating" value=1><b>1 -
            Unsatisfactory</b></input><span class="checkmark"></span></li>
</ul>   